<div class="container-fluid">
  <div class="sidebar">
    <ul id="people" class="unstyled">
      <li>quad</li>
    </ul>

    <ul id="projects" class="unstyled">
      <li>bt</li>
    </ul>
  </div>

  <div id="viz" class="content">
    <h1>WTF?</h1>
  </div>
</div>
